.page {
  // .page__clients
  &__clients {
    color: #fff;
    background-color: #1a1a1a;
  }
}
.clients {
  // .clients__container
  &__container {
  }
  // .clients__header
  &__header {
    display: grid;
    grid-template-columns: repeat(4, minmax(toRem(150), 1fr));
    grid-template-areas: 'cli-texts cli-texts cli-texts cli-decor';

    border-bottom: 2px solid #383838;

    @media (max-width: $mobile) {
      grid-template-columns: auto;
    }
  }
  // .clients__header-texts
  &__header-texts {
    grid-area: cli-texts;
  }
  // .clients__header-decor
  &__header-decor {
    grid-area: cli-decor;
  }
  // .clients__top
  &__top {
  }
}
.clients-texts {
  @include adaptiveValue('padding-top', 120, 60);
  @include adaptiveValue('padding-left', 40, 0);
  @include adaptiveValue('padding-bottom', 80, 28);
  @include adaptiveValue('padding-right', 40, 0);
  // .clients-texts__inner
  &__inner {
    display: flex;
    align-items: end;
    justify-content: space-between;

    gap: toRem(20);
    @media (max-width: $mobileSmall) {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}
.сlients-inner {
  // .сlients-inner__title
  &__title {
    font-family: Panchang-Bold;
    @include adaptiveValue('font-size', 96, 44);
    letter-spacing: -1.92px;
    text-transform: uppercase;

    opacity: 0;
    transform: translate(-150px, 0px);
    transition: all 0.5s ease-in;

    &._watcher-view {
      opacity: 1;
      transform: translate(0px, 0px);
    }
  }
  // .сlients-inner__text
  &__text {
    @include adaptiveValue('font-size', 18, 16);
    @include adaptiveValue('margin-bottom', 18, 0);
  }
}
.clients-decor {
  display: flex;
  @include adaptiveValue('padding-top', 120, 60);
  border-left: 2px solid #383838;
  @media (max-width: $mobile) {
    display: none;
  }

  // .clients-decor__link
  &__link {
    display: flex;
    align-items: end;
    justify-content: center;
    width: 100%;
    color: #fff;
    @include adaptiveValue('padding-bottom', 80, 28);
    &:last-child {
      border-left: 2px solid #383838;
      a {
        rotate: 180deg;
      }
    }
    a {
      font-size: toRem(24);
    }
    // Animation
    opacity: 0;
    transform: translate(0px, 50px);
    transition: all 0.6s;

    &._watcher-view {
      opacity: 1;
      transform: translate(0px, 0px);
    }
    &:last-child {
      transition-delay: 0.3s;
    }
  }
}
._icon-arrow {
}
.clients-top {
  display: grid;
  grid-template-columns: repeat(4, minmax(toRem(150), 1fr));
  grid-template-areas: 'cli-empty cli-content cli-content cli-content';
  @media (max-width: $mobile) {
    grid-template-columns: auto;
  }
  // .clients-top__empty
  &__empty {
    grid-area: cli-empty;
    @media (max-width: $mobile) {
      display: none;
    }
  }
  // .clients-top__content
  &__content {
    grid-area: cli-content;
    @include adaptiveValue('padding-left', 60, 0);
    @include adaptiveValue('padding-top', 120, 36);
    @include adaptiveValue('padding-bottom', 100, 80);
    border-left: 2px solid #383838;
    @media (max-width: $mobile) {
      border-left: 0;
    }
  }
}

.clients-content {
  font-family: Hubot-Sans-Regular;
  @include adaptiveValue('font-size', 40, 28);
  line-height: math.div(56, 44);
  letter-spacing: -0.44px;
  // .clients-content__row
  &__row {
    display: flex;
    row-gap: toRem(20);
    @include adaptiveValue('gap', 180, 20);
    justify-content: space-between;
    @include adaptiveValue('margin-bottom', 36, 0);
    // Animation
    opacity: 0;
    transform: translate(0px, 50px);
    transition: all 0.5s;

    &._watcher-view {
      opacity: 1;
      transform: translate(0px, 0px);
    }
  }
  // .clients-content__text
  &__text {
    @include adaptiveValue('margin-bottom', 62, 24);
    // Animation
    opacity: 0;
    transform: translate(0px, 50px);
    transition: all 0.5s;

    &._watcher-view {
      opacity: 1;
      transform: translate(0px, 0px);
    }
  }
  // .clients-content__footnote
  &__footnote {
  }
}
.cli-row {
  // .cli-row__dec
  &__dec {
    font-size: toRem(35);
  }
  // .cli-row__text
  &__text {
    // Animation
  }
}
._icon-Forgings {
}

.footnote-clients {
  display: flex;
  justify-content: space-between;

  // Animation
  opacity: 0;
  transform: translate(0px, 50px);
  transition: all 0.4s;

  &._watcher-view {
    opacity: 1;
    transform: translate(0px, 0px);
  }

  // .footnote-clients__prof
  &__prof {
    display: flex;
    align-items: center;
    gap: toRem(30);
  }
  // .footnote-clients__image
  &__image {
    width: toRem(140);
    height: toRem(140);
    flex: 0 0 toRem(140);
    border-radius: 50%;
    overflow: hidden;
    img {
      object-fit: cover;
    }
    @media (max-width: $mobileSmall) {
      display: none;
    }
  }
  // .footnote-clients__tites
  &__tites {
    text-transform: uppercase;
  }
  // .footnote-clients__name
  &__name {
    font-family: Panchang-Bold;
    @include adaptiveValue('font-size', 24, 16);
    line-height: math.div(28, 24);
    letter-spacing: -0.24px;
    @include adaptiveValue('margin-bottom', 16, 4);
  }
  // .footnote-clients__prod
  &__prod {
    @include adaptiveValue('font-size', 16, 12);
    letter-spacing: 0.8px;
  }
  // .footnote-clients__action
  &__action {
    display: none;
    gap: toRem(20);
    align-items: center;

    font-size: toRem(20);
    @media (max-width: $mobile) {
      display: flex;
    }
  }
  // .footnote-clients__btn
  &__btn {
    // .footnote-clients__btn--bot
    &--bot {
    }
    // .footnote-clients__btn--top
    &--top {
      rotate: 180deg;
    }
  }
}
