//=========================================================

.page {
	// .page__featured
	&__featured {
		background: url("@img/behold/graphic.jpg") no-repeat;
		background-position: center top;
		background-size: cover;
		color: #fff;
	}
	// .page__behold
	&__behold {
	}
	// .page__witness
	&__witness {
	}
	// .page__ceo
	&__ceo {
	}
}
.featured {
	// .featured__container
	&__container {
	}
}
.behold {
	// .behold__content
	&__content {
	}
}

.content-behold {
	// .content-behold__titles
	&__titles {
		font-family: Panchang-Bold;
		@include adaptiveValue("font-size", 64, 32);
		@include adaptiveValue("margin-bottom", 64, 35);
		color: $mainColor;
	}
	// .content-behold__image-ibg
	&__image-ibg {
		padding-bottom: 55%;
		border-radius: toRem(20);
		overflow: hidden;
		@include adaptiveValue("margin-bottom", 65, 36);
		@media (max-width: $mobileSmall) {
			padding-bottom: 116%;
		}
	}
	&__img {
	}
	// .content-behold__bottom
	&__bottom {
	}
}

.behold-bottom {
	display: flex;
	justify-content: space-between;
	align-items: end;
	color: #fff;
	// .behold-bottom__body
	&__body {
		display: flex;
		flex-direction: column;
		row-gap: toRem(10);
	}
	// .behold-bottom__btn
	&__btn {
		font-family: Hubot-Sans-SemiBold;
		@include adaptiveValue("font-size", 24, 16);
		position: relative;
		&::before {
			content: "";
			position: absolute;
			width: 100%;
			bottom: 0;
			height: toRem(1);
			background-color: #fff;
		}
		@media (max-width: $mobileSmall) {
			&::before {
				bottom: -5px;
			}
		}
	}
	@media (max-width: $mobileSmall) {
		flex-direction: column;
		align-items: start;
		row-gap: toRem(20);
	}
	.titles {
		// .titles__title
		&__title {
			font-family: Panchang-Bold;
			@include adaptiveValue("font-size", 32, 18);
		}
		// .titles__text
		&__text {
			font-family: Hubot-Sans-Regular;
			font-weight: 400;
			color: #a0a0a0;
			text-transform: none;
			@include adaptiveValue("font-size", 28, 16);
		}
	}
}

.witness {
	color: #fff;
	// .witness__content
	&__content {
		@include adaptiveValue("margin-bottom", 80, 37);
	}
	// .witness__slider
	&__slider {
	}
	// .witness__wrapper
	&__wrapper {
		@include adaptiveValue("margin-bottom", 80, 38);
	}
	// .witness__slide
	&__slide {
	}
}
.content-witness {
	// .content-witness__titles
	&__titles {
		display: flex;
		flex-direction: column;
		max-width: toRem(1110);
		@include adaptiveValue("font-size", 64, 32);
		@include adaptiveValue("gap", 40, 24);
	}
}

.swiper {
}
.swiper-wrapper {
}
.swiper-slide {
	&__img {
		width: 100%;
		margin-bottom: toRem(24);
	}
	// .swiper-slide__content
	&__content {
		display: flex;
		align-items: center;
		justify-content: space-between;
		.titles {
			// .titles__title
			&__title {
				@include adaptiveValue("font-size", 24, 20);
			}
			// .titles__text
			&__text {
				font-family: Hubot-Sans-Regular;
				font-weight: 400;
				color: #a0a0a0;
				text-transform: none;
				@include adaptiveValue("font-size", 24, 16);
			}
		}
	}
}
.swiper-pagination {
}
.swiper-scrollbar {
}

//?======================================================================================
.ceo {
	display: flex;
	flex-direction: column;
	// .ceo__titles
	&__titles {
		text-align: center;
		@include adaptiveValue("margin-bottom", 80, 40);
	}
	// .ceo__content
	&__content {
		align-self: end;
		max-width: toRem(840);
		padding-left: toRem(60);
		position: relative;
		&::before {
			position: absolute;
			top: 50%;
			font-size: toRem(160);
			transform: translate(-223%, 0%);
			animation: rotate-star-featur 30s linear infinite;
		}
	}
	@keyframes rotate-star-featur {
		0% {
			transform:  translate(-223%, 0%) rotate(0deg);
		}
		100% {
			transform:  translate(-223%, 0%) rotate(360deg);
		}
	}
}

.content-ceo {
	// .content-ceo__item
	&__item {
	}
	// .content-ceo__text
	&__text {
		// background: #E9C46A;
		@include adaptiveValue("margin-bottom", 100, 36);
		color: $mainColorBlack;
		@include adaptiveValue("font-size", 44, 18);
		line-height: math.div( 56,44 );
		letter-spacing: -0.44px;
		position: relative;
		&::before{
			position: absolute;
			@include adaptiveValue("font-size", 60, 18);
			transform: translate(-200%,0px);
			
		}
	}
	// .content-ceo__footnote
	&__footnote {
	}
}
.footnote-ceo {
	// .footnote-ceo__prof
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: toRem(32);
	@media (max-width: em(600)){
		  flex-direction: column;
		  align-items: start;
	}
	&__prof {
		display: flex;
		align-items: center;
		@include adaptiveValue("gap", 20, 16);
	}
	// .footnote-ceo__image
	&__image {
		width: toRem(72);
		height: toRem(72);
		flex: 0 0 72px;
		border-radius: 50%;
		overflow: hidden;
		img {
			object-fit: cover;
		}
	}
	// .footnote-ceo__tites
	&__tites {
	}
	// .footnote-ceo__name
	&__name {
		color: $mainColorBlack;
		font-family: Panchang;
		@include adaptiveValue("font-size", 24, 16);
		font-weight: 700;
		line-height: math.div(28, 24);
		letter-spacing: -0.16px;
		text-transform: uppercase;
	}
	// .footnote-ceo__prod
	&__prod {
		color: $borderBottomBg;
		@include adaptiveValue("font-size", 24, 16);
		line-height: math.div(32, 24);
		letter-spacing: 0.32px;
	}
	// .footnote-ceo__action
	&__action {
		display: flex;
		@include adaptiveValue("gap", 48, 32);
	}
	&__btn {
		font-size: toRem(36);
		@include adaptiveValue("font-size", 36, 22);
		// .footnote-ceo__btn--bot
		&--bot {
			rotate: 180deg;
		}
		// .footnote-ceo__btn--top
		&--top {
		}
	}
}

//=========================================================
.bottom-border {
	left: 0;
	background-color: $borderBottomBg;
}
//=========================================================
