//=========================================================
.page {
	// .page__hero
	&__hero {
		background: url("@img/hero/shadow.jpg") no-repeat;
		background-size: cover;
		background-position: left bottom;
	}
	@media (max-width: 400px) {
		&__hero {
			background: url("@img/hero/shadow-adaptive.jpg");
			background-size: cover;
		}
	}
}
.hero {
	overflow: hidden;
	position: relative;
	// .hero__container
	&__container {
		position: relative;
		z-index: 2;
		display: flex;
		flex-direction: column;
		row-gap: toRem(260);
	}
	// .hero__top
	&__top {
	}
	// .hero__bottom
	&__bottom {
	}
}

.titles {
  // .titles__title
  &__title {
  }
}
.top-hero {
	display: flex;
	@include adaptiveValue("column-gap", 80, 30, 0, 1280, 768.98);

  @media (max-width: $mobile) {
    flex-direction: column;
    row-gap: toRem(10);
  }
  // .top-hero__titles
  &__titles {
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: toRem(40);
    max-width: min-content;
    @include adaptiveValue('font-size', 96, 28);
    font-weight: 700;
    line-height: 96px; /* 100% */
    letter-spacing: -1.92px;
    text-transform: uppercase;
  }
  //.top-hero__decor
  &__decor {
    @include adaptiveValue('font-size', 160, 80);
    color: #fff;
    translate: 0 43px;
    @media (max-width: $mobile) {
      align-self: end;
      @include adaptiveValue('translate', -100, -20, 0, 767.98, 320);
    }
  }
}

.titles {
	// .titles__title
	&__title {
	}
}
.hero-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: toRem(20);
  @media (max-width: $mobile) {
    flex-direction: column-reverse;
  }
  // .hero-bottom__text
  &__text {
    @include adaptiveValue('font-size', 24, 18);
    line-height: math.div(32, 24);
    letter-spacing: 0.36px;
    max-width: toRem(590);
  }
  &__decor {
    @include adaptiveValue('font-size', 160, 120);
    color: #fff;
    display: inline-block;
    border-radius: 50%;
    background: #000;
    @media (max-width: $mobile) {
      align-self: end;
    }
  }
}

// Анімація

.hero-bottom__decor._icon-Circle-Button::before {
  animation: rotate-infinity 10s linear infinite;
}

@keyframes rotate-infinity {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
