//=========================================================

.page {
	// .page__hero
	&__hero {
	}
}
.hero {
	overflow: hidden;
	background: #000;
	padding-bottom: toRem(800);
	position: relative;
	// .hero__shadow
	&__shadow {
		position: absolute;
		width: 150vw;
		height: 100%;
		bottom: -2%;
		left: -25%;
		@media (max-width: $mobile) {
			bottom: -6%;
		}
	}
	// .hero__container
	&__container {
	}
}

//=========================================================
