.page {
  // .page__marque
  &__marque {
    position: relative;
    z-index: 2;
    transform: translateY(toRem(-200));
    @media (max-width: $tablet) {
      transform: translateY(toRem(-100));
    }
    @media (max-width: $mobile) {
      transform: translateY(toRem(-50));
    }
  }
}
.marque {
  // .marque__container
  &__container {
  }
}
.marque-running {
  width: 100%;
  // .marque-running__content
  &__content {
    display: flex;
    gap: toRem(18);
    flex-direction: column;
  }
  // .marque-running__top
  &__top {
    display: flex;
    @include adaptiveValue('gap', 180, 80);
    animation: moveRight 5s linear infinite running;
  }
  // .marque-running__bottom
  &__bottom {
    display: flex;
    @include adaptiveValue('gap', 180, 80);
    animation: moveLeft 5s linear infinite running;
  }
  // .marque-running__text
  &__text {
    display: inline-block;
    position: relative;
    font-family: Panchang-Bold;
    line-height: math.div(80, 80);
    letter-spacing: -1.6px;
    text-transform: uppercase;
    max-width: toRem(800);
    white-space: nowrap;
    user-select: none;
    @include adaptiveValue('font-size', 80, 32);
    &::before {
      position: absolute;
      top: 50%;
      translate: 0 -50%;
      @include adaptiveValue('left', -140, -60);
      @include adaptiveValue('font-size', 90, 50);
    }
  }
}
.marque-content {
  text-align: center;
  @include adaptiveValue('padding-top', 68, 40);
  // .marque-content__text
  &__text {
    max-width: toRem(800);
    margin: 0 auto;
    @include adaptiveValue('font-size', 24, 18);
    margin-bottom: toRem(40);
  }
  // .marque-content__link
  &__link {
    display: inline-block;
    position: relative;
    font-family: Hubot-Sans-SemiBold;
    @include adaptiveValue('font-size', 24, 16);
    font-weight: 500;
    &::before {
      content: '';
      position: absolute;
      bottom: toRem(-4);
      width: 100%;
      height: toRem(2);
      background-color: #121212;
      transition: all 0.4s;
    }
    @media (any-hover: hover) {
      &:hover::before {
        opacity: 0;
        bottom: toRem(-10);
      }
    }
  }
}

@keyframes moveRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes moveLeft {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}
