//=========================================================
.page {
  // .page__project
  &__project {
  }
}

.project {
  // .project__container
  &__container {
  }

  // .project__header
  &__header {
    display: flex;
    align-items: end;
    @include adaptiveValue('column-gap', 311, 20);
    @include adaptiveValue('padding-bottom', 100, 40);

    @media (max-width: $mobileSmall) {
      align-items: start;
      flex-direction: column;
      gap: toRem(32) toRem(0);
    }

    .titles {
      // .titles__title
      &__title {
        flex: 0 0 auto;
        @include adaptiveValue('width', 500, 250);
      }

      // .titles__link
      &__link {
        width: 100%;
        font-family: Hubot-Sans-Medium;
        font-weight: 500;
        position: relative;
        @include adaptiveValue('font-size', 24, 16);
        padding-bottom: toRem(10);
        white-space: nowrap;

        @media (max-width: $mobileSmall) {
          width: auto;
        }
      }

      &__border {
        height: toRem(2);
        left: 0;
        opacity: 1;
        background: $mainColor;
        display: block;
      }
    }
  }
  // .project__top
  &__top {
    border-top: $projectBorder;
    border-bottom: $projectBorder;
  }
  &__bottom {
    padding-left: clamp(
      6.25e-8rem,
      -33.7795452909rem + 60.7272725455vw,
      20.875rem
    );
  }
}

.project-top {
  display: grid;
  grid-template: auto / repeat(1, minmax(toRem(350), 1fr));
  padding-left: clamp(
    6.25e-8rem,
    -33.7795452909rem + 60.7272725455vw,
    20.875rem
  );
  font-family: Panchang-Bold;
  font-weight: 700;
  letter-spacing: -0.24px;
  line-height: math.div(28, 24);
  @include adaptiveValue('font-size', 24, 20);

  // .project-top__item
  &__item {
    display: grid;
    grid-template: auto / repeat(2, minmax(toRem(350), 1fr));
    border-left: $projectBorder;
    &:first-child {
      border-bottom: $projectBorder;
    }
    @media (max-width: $mobile) {
      border-left: 0;
      grid-template-columns: auto;
    }
  }
}
.item {
  // .item__content
  &__content {
    padding: toRem(40);
    &:nth-child(even) {
      border-left: $projectBorder;
      @media (max-width: $mobile) {
        border-left: 0;
      }
    }
    @media (max-width: $mobile) {
      padding: toRem(40) toRem(0) toRem(40) toRem(0);
    }
  }
  // .item__decor
  &__decor {
  }
}
.item-content {
  display: flex;
  flex-direction: column;
  // .item-content__link
  &__link {
    display: block;
    position: relative;
    padding-bottom: toRem(12);
    text-transform: uppercase;
    @include adaptiveValue('margin-bottom', 60, 32);
    &::before {
      position: absolute;
      top: 50%;
      right: 0;
      translate: 0 -50%;
    }
    span {
      position: relative;
      padding-bottom: toRem(12);
      &::before {
        content: '';
        position: absolute;
        bottom: 0;
        width: 100%;
        height: toRem(2);
        background: $mainColor;
      }
    }
  }
  // .item-content__text
  &__text {
    font-family: Hubot-Sans-Regular;
    font-weight: 400;
    font-size: toRem(18);
    @media (max-width: $mobile) {
      margin-bottom: toRem(24);
    }
  }
  &__image {
    display: none;
    @media (max-width: $mobile) {
      display: block;
      margin-bottom: toRem(48);
      img {
        width: 100%;
      }
    }
  }
  &__decor {
    white-space: nowrap;
    margin-top: auto;
    font-family: Hubot-Sans-Bold;
    font-size: toRem(20);
  }
  // SVG
  ._icon-arrow {
    font-size: toRem(24);
  }
}

.item-img {
  display: flex;
  padding: toRem(40);
  &:nth-child(even) {
    border-left: $projectBorder;
  }
  @media (max-width: $mobile) {
    display: none;
  }
  // .item-img__image
  &__image {
    flex: 1 1 auto;
    position: relative;
    padding-bottom: 120%;
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: toRem(16);
    }
  }
}

.project-bottom {
  // .project-bottom__item
  &__texts {
    // Position
    @include adaptiveValue('padding-left', 40, 0);
    @include adaptiveValue('padding-right', 40, 0);
    @include adaptiveValue('padding-top', 120, 40);
    // Decor
    border-left: $projectBorder;
    @media (max-width: $mobile) {
      border-left: 0;
    }
  }
  // .project-bottom__content
  &__content {
    // Position
    @include adaptiveValue('padding-top', 90, 40);
    // Grid
    display: grid;
    grid-template: auto / repeat(2, minmax(toRem(350), 1fr));
    // Decor
    border-left: $projectBorder;
    @media (max-width: $mobile) {
      grid-template-columns: auto;
      border-left: 0;
    }
  }
  // .project-bottom__content-item
  &__content-item {
  }
}
.item {
  // .item__head
  &__head {
  }
}
.head {
  // .head__row-top
  &__row-top {
    display: flex;
    @include adaptiveValue('margin-bottom', 48, 10);
    @include adaptiveValue('column-gap', 65, 20);
    @media (max-width: $mobileSmall) {
      row-gap: toRem(24);
      flex-direction: column;
    }
  }
  // .head__dec
  &__dec {
    font-family: Hubot-Sans-Regular;
    font-size: toRem(16);
    color: #a0a0a0;
  }
  // .head__text
  &__text {
    @include adaptiveValue('font-size', 44, 16);
    line-height: math.div(56, 44);
  }
}

// Bottom

.project-bottom {
  // .project-bottom__content
  &__content {
  }
}
.bottom-content {
  // .bottom-content__column-first
  &__column-first {
    border-right: $projectBorder;
    @include adaptiveValue('padding-top', 80, 40);
    @media (max-width: $mobile) {
      border-right: 0;
      padding-top: toRem(0);
    }
  }
  // .bottom-content__column-second
  &__column-second {
    @include adaptiveValue('padding-top', 204, 40);
    @media (max-width: $mobile) {
      padding-top: toRem(0);
    }
  }
}
.bottom-column {
  @include adaptiveValue('padding-left', 40, 0);
  @include adaptiveValue('padding-right', 40, 0);
  // .bottom-column__item
  &__item {
  }
}
.bottom-item {
  // .bottom-item__link
  &__link {
    position: relative;
    // Font
    font-family: Panchang-Bold;
    font-weight: 700;
    @include adaptiveValue('font-size', 32, 20);
    line-height: math.div(36, 32);
    text-transform: uppercase;
    // Position
    display: block;
    position: relative;
    @include adaptiveValue('padding-bottom', 40, 25);
    @include adaptiveValue('margin-bottom', 40, 20);
    &::before {
      position: absolute;
      top: 0;
      right: 0;
    }
    span {
      display: inline-block;
      max-width: toRem(320);
    }
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      width: 100%;
      height: toRem(1);
      background: #d0d0d0;
    }
  }
  // .bottom-item__descr
  &__descr {
    font-size: toRem(18);
    @include adaptiveValue('margin-bottom', 147, 45);
    line-height: math.div(22, 18);
  }
  ._icon-arrow {
    font-size: toRem(23);
  }
}

//=========================================================
