// Заголовки, общие БЄМ блоки и проче...
.page {
  // .page__hero
  &__hero {
    @include adaptiveValue('padding-top', 170, 150);
    @include adaptiveValue('padding-bottom', 80, 20);
  }
  // .page__find
  &__find {
    @include adaptiveValue('padding-top', 80, 40);
    @include adaptiveValue('padding-bottom', 80, 40);
  }
  // .page__behold
  &__behold {
    @include adaptiveValue('padding-top', 120, 60);
    @include adaptiveValue('padding-bottom', 180, 60);
  }
  // .page__witness
  &__witness {
    // @include adaptiveValue('padding-top', 80, 40);
    @include adaptiveValue('padding-bottom', 150, 60);
  }
  // .page__ceo
  &__ceo {
    // @include adaptiveValue('padding-top', 80, 40);
    @include adaptiveValue('padding-bottom', 380, 120);
  }
  // .page__marque
  // &__marque-bottom {
  //   @include adaptiveValue('padding-top', 80, 40);
  //   @include adaptiveValue('padding-bottom', 363, 150);
  // }
  // .page__project
  &__project {
    @include adaptiveValue('padding-top', 80, 40);
    // @include adaptiveValue('padding-bottom', 80, 40);
  }
  // .page__worthy
  &__worthy {
    @include adaptiveValue('padding-top', 80, 40);
    // @include adaptiveValue('padding-bottom', 80, 40);
  }
  // .page__clients
  // &__clients {
  //   @include adaptiveValue('padding-top', 80, 40);
  //   @include adaptiveValue('padding-bottom', 80, 40);
  // }
}
//============================================================================

// .shadow {
// 	&::before {
// 		content: "";
// 		background: url("@img/hero/Vector.svg") 0 0 / contain no-repeat;
// 		position: absolute;
// 		width: 100%;
// 		height: 60vh; /* 60vh */
// 		bottom: 20%;
// 		left: -0%;
// 		z-index: 0;
// 		@media (max-width: $mobileSmall) {
// 			height: 48vh;
// 			left: 8%;
// 			width: 150%;
// 		}
// 	}
// }
//===========================================================================
/* 
<div class="hero__titles titles">
<div class="titles__title">
	<h2>LET’s Find Your DEsign Product</h2>
</div>
<div class="titles__text">
	<p>Safe and Beneficial Design for Humanity.</p>
</div>
</div> 
*/

html {
  scroll-behavior: smooth;
}
// Для родителя блока
/* 
	&__titles {
		transform: translate(0px, 700px);
		display: flex;
		flex-direction: column;
		gap: toRem(40);
		max-width: toRem(860);
		@include adaptiveValue("font-size", 64, 32);
	} 
	*/
.titles {
  font-family: Panchang-Bold;
  text-transform: uppercase;
  // .titles__title
  &__title {
    font-weight: 700;
    line-height: math.div(68, 64);
    letter-spacing: -0.64px;
    @include adaptiveValue('font-size', 64, 32);
  }
  // .titles__text
  &__text {
    @include adaptiveValue('font-size', 32, 16);
    font-weight: 600;
    line-height: math.div(42, 32);
    letter-spacing: -0.32px;
  }
}

.bottom-border {
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  background-color: #b8b8b8;
  opacity: 0.2;
}

// Animation

@keyframes rotate-infinity-star {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}

@keyframes rotate-infinity {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes bounce-in-fwd {
  0% {
    transform: scale(0);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: scale(1);
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: scale(0.7);
    animation-timing-function: ease-in;
  }
  72% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
  81% {
    transform: scale(0.84);
    animation-timing-function: ease-in;
  }
  89% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
  95% {
    transform: scale(0.95);
    animation-timing-function: ease-in;
  }
  100% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}

@keyframes opacity-anim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// Base

// data-watch
// data-watch-once
// data-watch-threshold="0.5"

// Css

// Animation
// &._watcher-view {
// transition: all 0.5s ease;
// animation: name duration timing-function delay iteration-count direction fill-mode;
// }

// Animation
// transition: all 0.5s ease;
// animation: slideLeft 0.8s;

// Slide

@keyframes slideRight {
  0% {
    opacity: 0;
    transform: translate(toRem(150), 0);
  }
  100% {
    opacity: 1;
    transform: translateX(0, 0);
  }
}

@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translate(toRem(-150), 0);
  }
  100% {
    opacity: 1;
    transform: translateX(0, 0);
  }
}

@keyframes slideBottom {
  0% {
    opacity: 0;
    transform: translate(0, toRem(70));
  }
  100% {
    opacity: 1;
    transform: translateY(0, 0);
  }
}
