//=========================================================
.header {
  // position: fixed;
  // width: 100%;
  // left: 0;
  // top: 0;
  background-color: #1a1a1a;
  color: #fff;
  padding-top: 20px;
  z-index: 10;
  // .header__container
  &__container {
    min-height: toRem(22);
  }
  &__content {
    display: flex;
    justify-content: space-between;
    gap: toRem(15);
    align-items: center;
    position: relative;
    padding-bottom: toRem(28);
  }
  // .header__logo
  &__logo {
    position: relative;
    z-index: 5;
  }
  // .header__menu
  &__menu {
    display: flex;
    align-items: center;
  }
}
.menu {
  // .menu__body
  &__body {
    @media (max-width: $mobile) {
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: -100%;
      transition: all 0.3s;
      overflow: auto;
      background-color: #1a1a1a;
      padding-top: toRem(100);
      &::before {
        content: '';
        position: fixed;
        width: 100%;
        top: 0;
        left: -100%;
        transition: all 0.3s;
        height: toRem(60);
        background-color: #1a1a1a;
        z-index: 2;
      }
      .menu-open & {
        left: 0;
        &::before {
          left: 0;
        }
      }
    }
  }
  // .menu__list
  &__list {
    display: flex;
    flex-wrap: wrap;
    row-gap: toRem(10);
    column-gap: toRem(28);
    @include adaptiveValue('column-gap', 28, 15);
    @media (max-width: $mobile) {
      flex-direction: column;
      padding-left: toRem(28);
      row-gap: toRem(28px);
    }
  }
  // .menu__item
  &__item {
    position: relative;
    @media (any-hover: hover) {
      // &:hover {
      //   color: #adc140;
      //   transition: all 0.4s;
      // }
      &::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: -0.5rem;

        width: 100%;
        height: 2px;

        opacity: 0;
        background-color: #adc140;
        border-radius: 50%;

        transition: all 0.4s;
        cursor: pointer;
      }
      &:hover::before {
        transform: translateY(-0.25rem);
        opacity: 1;
      }
    }
  }
  // .menu__link
  &__link {
    font-family: Hubot-Sans-Regular;
    font-size: 16px;
    line-height: math.div(22, 16);
    letter-spacing: 0.32px;
    text-transform: uppercase;
    @media (max-width: $mobile) {
      font-size: toRem(25);
    }
    animation: focus 1.5s;
  }
}
@keyframes focus {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
//=========================================================

//Burger

.icon-menu {
  display: none;
  @media (max-width: $mobile) {
    display: block;
    position: relative;
    width: toRem(40);
    height: toRem(40);
    z-index: 5;
    border-radius: 50%;
    border: 1px solid #414141;
    @media (any-hover: none) {
      cursor: default;
    }
    &::before,
    &::after {
      content: '';
      transition: all 0.3s ease 0s;
      position: absolute;
      right: 25%;
      width: 20px;
      height: toRem(2);
      background-color: #ffffff;
      border-radius: toRem(10);
    }
    &::before {
      top: 40%;
    }
    &::after {
      bottom: 40%;
    }
    .menu-open & {
      span {
        width: 0;
      }
      &::before {
        top: calc(50% - toRem(1));
        transform: rotate(-45deg);
      }
      &::after {
        bottom: calc(50% - toRem(1));
        transform: rotate(45deg);
      }
    }
  }
}
